@use '../mixins';

.main {
    width: calc(100% - 80px);
    height: 100%;
    min-height: 100vh;
    margin: 0 40px;
    position: relative;

    @include mixins.desktop() {
        max-width: 1000px;
    }

    @include mixins.mobile() {
        max-width: initial;
    }
}