:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-gradient: linear-gradient(160deg, #afafaf 0%, #cbbfb0 42%, #bababa 100%);
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  color: #114d75;
  position: relative;
}

#root {
  width: 100%;
  height: 100%;
}

.bg-gradient {
  /* https://cssgradient.io/ */
  background-size: 300%;
  background-image: var(--bg-gradient);
  animation: lavaLampe 40s infinite;
}

#bg-texture {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  mix-blend-mode: screen;
}

@keyframes lavaLampe {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}